apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rest-jscreditscore-ing07
  annotations:
    kubernetes.io/ingress.class: 'nginx'
    ingress.kubernetes.io/add-base-url: 'true'
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /$WERCKER_APPLICATION_OWNER_NAME/user07/
        backend:
          serviceName: rest-jscreditscore-svc07
          servicePort: 8107
